beautifultable==1.0.0
blessed==1.17.11
colorama==0.4.4
DateTime==4.3
halo==0.0.31
log-symbols==0.0.14
path==15.0.0
pathlib==1.0.1
pyperclip==1.8.1
pytz==2020.4
six==1.15.0
spinners==0.0.24
termcolor==1.1.0
wcwidth==0.2.5
yaspin==1.2.0
zope.interface==5.2.0
